{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit totam voluptatem?
         Excepturi, atque. Velit nesciunt similique in sequi suscipit ea, 
        sapiente consequuntur cumque! Magni est accusantium animi ipsam assumenda!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim expedita doloremque nesciunt 
        quisquam, eligendi inventore exercitationem magnam aliquam odio temporibus facere pariatur, 
        ullam ad voluptates, quasi ratione. Molestias repellat ea, deserunt corrupti, mollitia nemo 
        dignissimos numquam veritatis fugiat ad molestiae quos! Voluptatum omnis, voluptate minima natus quisquam 
        voluptatibus dicta nisi rerum optio eius sapiente eos numquam harum commodi illo deserunt!</p>
</div>

{% endblock content %}